<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>SSDT</key>
		<dict>
			<key>EnableC6</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>APSN</key>
				<false/>
				<key>PluginType</key>
				<false/>
				<key>PStates</key>
				<false/>
				<key>APLF</key>
				<false/>
				<key>CStates</key>
				<false/>
			</dict>
			<key>NoOemTableId</key>
			<false/>
			<key>DropOem</key>
			<false/>
			<key>NoDynamicExtract</key>
			<false/>
		</dict>
		<key>DisableASPM</key>
		<false/>
		<key>smartUPS</key>
		<false/>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Find</key>
					<data>RUhDMQ==</data>
					<key>Replace</key>
					<data>RUgwMQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>EHC1 to EH01</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUhDMg==</data>
					<key>Replace</key>
					<data>RUgwMg==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>EHC2 to EH02</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RVVTQg==</data>
					<key>Replace</key>
					<data>RUgwMQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>EUSB to EH01</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>VVNCRQ==</data>
					<key>Replace</key>
					<data>RUgwMg==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>USBE to EH02</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>oAqTU1RBUwE=</data>
					<key>Replace</key>
					<data>oAqRCv8L//8=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>RTC fix</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>cA1DUFVTQ0swAENVVTA=</data>
					<key>Replace</key>
					<data>AAAAAAAAAAAAAAAAAAA=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>CUU0</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>cA1DUFVTQ0sxAENVVTE=</data>
					<key>Replace</key>
					<data>AAAAAAAAAAAAAAAAAAA=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>CUU1</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>cA1DUFVTQ0syAENVVTI=</data>
					<key>Replace</key>
					<data>AAAAAAAAAAAAAAAAAAA=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>CUU2</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>cA1DUFVTQ0szAENVVTM=</data>
					<key>Replace</key>
					<data>AAAAAAAAAAAAAAAAAAA=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>CUU3</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUMwXw==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
					<key>Disabled</key>
					<true/>
					<key>Comment</key>
					<string>EC0 to EC</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>SF9FQw==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
					<key>Disabled</key>
					<true/>
					<key>Comment</key>
					<string>H_EC to EC</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUNEVg==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
					<key>Disabled</key>
					<true/>
					<key>Comment</key>
					<string>ECDV to EC</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>QdAMCQ==</data>
					<key>Replace</key>
					<data>QdD//w==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>PNP0C09 to PNPFFFF</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Replace</key>
					<data>SUdQVQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change GFX0 to IGPU</string>
				</dict>
			</array>
			<key>Fixes</key>
			<dict>
				<key>FixHPET</key>
				<false/>
				<key>FixHDA</key>
				<false/>
				<key>FixRTC</key>
				<false/>
				<key>FixTMR</key>
				<false/>
				<key>FixShutdown</key>
				<true/>
				<key>FixIPIC</key>
				<false/>
				<key>FixMutex</key>
				<false/>
				<key>FixDarwin7</key>
				<false/>
				<key>DeleteUnused</key>
				<false/>
				<key>FixRegions</key>
				<false/>
			</dict>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>DropOEM_DSM</key>
			<false/>
			<key>Debug</key>
			<false/>
			<key>ReuseFFFF</key>
			<false/>
		</dict>
		<key>AutoMerge</key>
		<false/>
		<key>HaltEnabler</key>
		<false/>
		<key>FixHeaders</key>
		<false/>
		<key>FixMCFG</key>
		<false/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>NeverHibernate</key>
		<false/>
		<key>Legacy</key>
		<string>PBR</string>
		<key>DefaultLoader</key>
		<string>boot.efi</string>
		<key>NeverDoRecovery</key>
		<false/>
		<key>Debug</key>
		<false/>
		<key>Arguments</key>
		<string>igfxonln=1</string>
		<key>CustomLogo</key>
		<false/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>0</integer>
		<key>DefaultVolume</key>
		<string>system</string>
	</dict>
	<key>GUI</key>
	<dict>
		<key>ShowOptimus</key>
		<true/>
		<key>Mouse</key>
		<dict>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>8</integer>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>KbdPrevLang</key>
		<true/>
		<key>Scan</key>
		<dict>
			<key>Tool</key>
			<true/>
		</dict>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
	</dict>
	<key>CPU</key>
	<dict>
		<key>UseARTFrequency</key>
		<true/>
		<key>HWPEnable</key>
		<true/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>FakeID</key>
		<dict>
			<key>IntelGFX</key>
			<string>0x59168086</string>
		</dict>
		<key>Audio</key>
		<dict>
			<key>ResetHDA</key>
			<true/>
			<key>AFGLowPowerState</key>
			<false/>
			<key>Inject</key>
			<integer>50</integer>
		</dict>
		<key>AddProperties</key>
		<array>
			<dict>
				<key>Value</key>
				<data>AQAAAA==</data>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>AAPL,GfxYTile</string>
				<key>Device</key>
				<string>IntelGFX</string>
			</dict>
		</array>
		<key>InjectHDMI</key>
		<false/>
		<key>UseIntelHDMI</key>
		<false/>
		<key>InjectLAN</key>
		<false/>
		<key>USB</key>
		<dict>
			<key>HighCurrent</key>
			<false/>
			<key>FixOwnership</key>
			<true/>
			<key>AddClockID</key>
			<false/>
		</dict>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>EDID</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
		<key>NvidiaSingle</key>
		<false/>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>ig-platform-id</key>
		<string>0x591b0000</string>
		<key>RadeonDeInit</key>
		<false/>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>KernelLapic</key>
		<false/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>g/sPDw==</data>
				<key>Name</key>
				<string>com.apple.iokit.IOUSBHostFamily</string>
				<key>Replace</key>
				<data>g/s/Dw==</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>USB Port limit patch 10.14.x 10.15.x #1 modify by DalianSky(credits PMheart)</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>g+MP0w==</data>
				<key>Name</key>
				<string>com.apple.iokit.IOUSBHostFamily</string>
				<key>Replace</key>
				<data>g+M/0w==</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>USB port limit patch 10.14.x modify by DalianSky(credit PMHeart)</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>g/kPDw==</data>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>g/k/Dw==</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>USB Port limit patch 10.15.x #1 modify by DalianSky</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>g/sPDw==</data>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>g/s/Dw==</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>USB Port limit patch 10.14.x modify by DalianSky(credits PMheart)</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>g/8PDw==</data>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>g/8/Dw==</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>USB Port limit patch 10.14.x modify by DalianSky(credits PMheart)</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
		</array>
		<key>PanicNoKextDump</key>
		<true/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>MaskReplace</key>
				<data>AAAAAAD///8=</data>
				<key>Find</key>
				<data>6NQAAADrBeg=</data>
				<key>MaskFind</key>
				<data>/wD///////8=</data>
				<key>Comment</key>
				<string>KbeBS-EXT (kuckkuck)</string>
				<key>Disabled</key>
				<false/>
				<key>MatchOS</key>
				<string>10.16</string>
				<key>Replace</key>
				<data>6NQAAACQkOg=</data>
				<key>StartPattern</key>
				<data>AQAx/74UAAU=</data>
				<key>Count</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>MaskReplace</key>
				<data>AAAAAAAAAP///////wAAAA==</data>
				<key>Find</key>
				<data>6HXmDgCFwA+E+gAAAEmLRQ==</data>
				<key>MaskFind</key>
				<data>/wAAAP//////AP///////w==</data>
				<key>Comment</key>
				<string>KbeBS-SIP (kuckkuck)</string>
				<key>Disabled</key>
				<false/>
				<key>MatchOS</key>
				<string>10.16</string>
				<key>Replace</key>
				<data>6HXmDgCFwJCQkJCQkEmLRQ==</data>
				<key>StartPattern</key>
				<data>AgAAQb8BAADc</data>
				<key>Count</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>MaskReplace</key>
				<data>AAAAAAAAAAD//wAAAAAA</data>
				<key>Find</key>
				<data>/4A9JZxOAAAPhRcBAABB</data>
				<key>MaskFind</key>
				<data>////AAAA/////wD/////</data>
				<key>Comment</key>
				<string>KbeBS-KxldUnmap (vit9696, kuckkuck)</string>
				<key>Disabled</key>
				<false/>
				<key>MatchOS</key>
				<string>10.16</string>
				<key>Replace</key>
				<data>/4A9JZxOAACQ6RcBAABB</data>
				<key>StartPattern</key>
				<data>SI0VKyYlAA==</data>
				<key>Count</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>EightApple</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>KernelXCPM</key>
		<false/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>KernelCpu</key>
		<false/>
		<key>Debug</key>
		<false/>
		<key>AppleIntelCPUPM</key>
		<true/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>MLB</key>
		<string>C07DG0XBJYVXABCDE</string>
		<key>ROM</key>
		<data>sPmgdVcF</data>
		<key>BooterConfig</key>
		<string>0x28</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>FirmwareFeatures</key>
		<string>0xFD8FF466</string>
		<key>Board-ID</key>
		<string>Mac-7BA5B2DFE22DDD8C</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFFDFFF7F</string>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>BiosVersion</key>
		<string>MM81.88Z.F000.B00.2005132145</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisAssetTag</key>
		<string>Mini-Aluminum</string>
		<key>PlatformFeature</key>
		<string>0x20</string>
		<key>Family</key>
		<string>Mac mini</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C070397004NKXPGAD</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>ProductName</key>
		<string>Macmini8,1</string>
		<key>SmUUID</key>
		<string>E54059D5-8385-4CB3-A6F7-3357AB755705</string>
		<key>Mobile</key>
		<false/>
		<key>BoardType</key>
		<integer>10</integer>
		<key>EfiVersion</key>
		<string>1037.120.87.0.0</string>
		<key>SerialNumber</key>
		<string>C07DG0XBJYVX</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>BiosReleaseDate</key>
		<string>05/13/2020</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectSystemID</key>
		<true/>
		<key>CustomUUID</key>
		<string>C7C37B5E-544D-42B7-A8B6-F1F873FE7379</string>
		<key>InjectKexts</key>
		<string>Yes</string>
	</dict>
	<key>Quirks</key>
	<dict>
		<key>EnableWriteUnprotector</key>
		<true/>
		<key>ProvideMaxSlide</key>
		<integer>0</integer>
		<key>EnableSafeModeSlide</key>
		<true/>
		<key>SignalAppleOS</key>
		<false/>
		<key>ProtectUefiServices</key>
		<false/>
		<key>AvoidRuntimeDefrag</key>
		<true/>
		<key>DiscardHibernateMap</key>
		<false/>
		<key>DevirtualiseMmio</key>
		<false/>
		<key>SyncRuntimePermissions</key>
		<true/>
		<key>ProvideCustomSlide</key>
		<false/>
		<key>DisableSingleUser</key>
		<false/>
		<key>ProvideConsoleGopEnable</key>
		<true/>
		<key>ForceExitBootServices</key>
		<false/>
		<key>ProtectSecureBoot</key>
		<false/>
		<key>DisableVariableWrite</key>
		<false/>
		<key>SetupVirtualMap</key>
		<true/>
		<key>ProtectMemoryRegions</key>
		<false/>
		<key>RebuildAppleMemoryMap</key>
		<false/>
	</dict>
</dict>
</plist>